		<!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
      <i class="la la-close"></i>
    </button>
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
      <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
          <li class="m-menu__item  m-menu__item--active" aria-haspopup="true" >
            <a  href="index.html" class="m-menu__link ">
              <span class="m-menu__link-title">
                <span class="m-menu__link-wrap">
                  <span class="m-menu__link-text">
                    Dashboard
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="false"  data-menu-submenu-toggle="hover">
            <a  href="account-management.html" class="m-menu__link m-menu__toggle">
              <span class="m-menu__link-text">
                  Account Management
              </span>
            </a>
          </li>
          <!--Submenu-->
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
            <a  href="#" class="m-menu__link m-menu__toggle">
              <span class="m-menu__link-text">
                Trackbase
              </span>
              <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu">
              <span class="m-menu__arrow"></span>
              <ul class="m-menu__subnav">
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a  href="trackbase.html" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      Sequence
                    </span>
                  </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" >
                  <a  href="../components/buttons/group.html" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      Timeline
                    </span>
                  </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" >
                  <a  href="../components/buttons/dropdown.html" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      Action Plan
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a  href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      Checklist
                    </span>
                  </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                  <a  href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      SLA
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <!--//Submenu-->
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="false"  data-menu-submenu-toggle="hover">
              <a  href="trackit.html" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">
                    Trackit
                </span>
              </a>
          </li>
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="false"  data-menu-submenu-toggle="hover">
              <a  href="reports.html" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">
                    Reports
                </span>
              </a>
          </li>
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="false"  data-menu-submenu-toggle="hover">
              <a  href="my-profile.html" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">
                    User Profile
                </span>
              </a>
          </li>
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="false"  data-menu-submenu-toggle="hover">
              <a  href="system-data.html" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">
                    System Data
                </span>
              </a>
          </li>
          <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="false"  data-menu-submenu-toggle="hover">
              <a  href="setup.html" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">
                    Setup
                </span>
              </a>
          </li>
          <!-- Components to build on -->
          
        </ul>
      </div>
      <!-- END: Aside Menu -->
    </div>
    <!-- END: Left Aside -->
