<img src="assets/default/media/img/bg/bg.png" alt="Qdigital Login" class="login-image">
<img src="assets/default/media/img/logo/logo_default_dark.png" alt="Qdigital" class="login-logo">
<form class="login-form--container">
    <input class="login-input" type="email" name="email" placeholder="Username">
    <input class="login-input" type="email" name="password" placeholder="password">
    <div class="login-opts">
           <span class="pull-left text-white">Remember me</span>
           <a href="/" class="pull-right text-white">Fogort Password?</a>
    </div>
   <button type="button" onclick="window.location.href='index.html'"  class="btn btn-login">Submit</button>
</form> 
